<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>218F138B-DE9E-4CD5-B02B-72BD00B17BC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D94D142-05B0-440B-BE94-B99D36EA47A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Philocalyst</string>
	<key>description</key>
	<string>Search History, Bookmarks, tabs, alone or together.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Browser Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sbb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>retrieving...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bookmark_search.lua</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>test</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2D08300A-63D2-49DD-8D43-D438BFE65043</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9D94D142-05B0-440B-BE94-B99D36EA47A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>shh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>ret</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/philocalyst/Projects/Alfred/Search/Search</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>search history</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>218F138B-DE9E-4CD5-B02B-72BD00B17BC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sgg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Retrieving..</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>suggest.lua</string>
				<key>subtext</key>
				<string>Get suggested searches</string>
				<key>title</key>
				<string>Autocomplete</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4E709E5C-5B94-4A94-93CB-EC2F0A80B8B0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Browser History and Bookmarks Search

The Workflow searches History and Bookmarks of the configured Browsers simulatiously. 

## Supported Browsers

- Chromium
- Google Chrome
- Brave and Brave beta (Chromium)
- MS Edge
- Vivaldi
- Opera
- Sidekick
- Arc
- Safari (History search only!)

## Requires 

* Python 3
* Preferably Alfred 5

## Usage

### Bookmarks Search

Search History and Bookmarks:    
Type `&amp;` in between of the search terms to search for multiple entries e.g.: 
 `Car&amp;Bike` match entries with `Car or Bike rental` but NOT `Car driving school`


### Other Actions

Pressing `CMD` to enter `Other Actions...`:

* `Copy to Clipboard`: Copies the URL into the Clipboard
* `Open Domain`: Opens the domain  (e.g. www.google.com) in default Browser
* `Open In...`: Opens the URL with the Alfred's build in Open-In other Browser</string>
	<key>uidata</key>
	<dict>
		<key>218F138B-DE9E-4CD5-B02B-72BD00B17BC5</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>2D08300A-63D2-49DD-8D43-D438BFE65043</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>4E709E5C-5B94-4A94-93CB-EC2F0A80B8B0</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>9D94D142-05B0-440B-BE94-B99D36EA47A6</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bh</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>History search keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>history_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bm</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Bookmark search keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bookmark_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Google Chrome</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Include</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>chrome</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Chromium</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>chromium</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Brave</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>brave</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Brave Beta</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>brave_beta</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Opera</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>opera</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Sidekick</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sidekick</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Vivaldi</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>vivaldi</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Edge</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>edge</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Arc</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>arc</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Safari</string>
			</dict>
			<key>description</key>
			<string>Browsers to be included into history and bookmark search</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>safari</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mail.google.com,mail.gmx.com</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Comma separated list of domains to be ignored in history search</string>
			<key>label</key>
			<string>Excluded Domains</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>ignored_domains</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show favicons</string>
			</dict>
			<key>description</key>
			<string>Show favicons in results. NOTE: Displaying favicons slows down search</string>
			<key>label</key>
			<string>Favicons</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_favicon</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>true</string>
				<key>pairs</key>
				<array>
					<array>
						<string>recent</string>
						<string>true</string>
					</array>
					<array>
						<string>visits</string>
						<string>false</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>History entries will be sorted based on recent visits OR number of visits</string>
			<key>label</key>
			<string>Sort history search results</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sort_recent</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>%d.%m.%Y</string>
				<key>placeholder</key>
				<string>%d.%m.%Y</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Define how dates should be displayed. https://strftime.org/</string>
			<key>label</key>
			<string>Date Format</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>date_format</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>4.1.4</string>
	<key>webaddress</key>
	<string>https://github.com/Acidham/chromium-hist-bookmarks</string>
</dict>
</plist>
